.link {
  composes: link from "../../../../common/ui/LinkNative/LinkNative.module.scss";
}

.gridHeaderTable {
  composes: gridContainerTable from "../../../../common/ui/styles/gridTable.module.scss";
  grid-template-columns: repeat(4, 200px) 300px;
  margin-bottom: 2px;
  composes: gridHeaderTable from "../../../../common/ui/styles/gridTable.module.scss";
}
.hGridContainer {
  composes: gridContainerTable from "../../../../common/ui/styles/gridTable.module.scss";
  grid-template-columns: repeat(4, 200px) 300px;

  div {
    display: flex;
    min-height: 48.4px;
    justify-content: center;
    background: #D8544FFF;
    border: 1px solid black;
    align-items: center;
    border-radius: 3px;

    &:last-child {
      border-bottom-right-radius: 10px;
    }
    &:nth-child(5n) {
      justify-content: space-around;
    }
    &:nth-last-child(5) {
      border-bottom-left-radius: 10px;
    }
  }
}
