@import "src/common/ui/styles/base/variables";

.form {
  composes: form from "../../../../common/ui/styles/form.module.scss";
  max-width: 280px;

  .img {
    text-align: center;
    & > img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}
.avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
