.packsModal {
  z-index: 11;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .form {
    min-width: 280px;

    & > div {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 32px;
      }
    }

    z-index: 12;
    background: powderblue;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 70px;

    & > button {
      width: 100%;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}
